
@{
    ViewBag.Title = "यशवंत फळे फुले भाजीपाला खरेदी-विक्री सहकारी संस्था मर्यादित, कराड";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">मुखपृष्ठ</a></li>
                        <li class="breadcrumb-item">@Html.ActionLink("सहयोगी संस्था", "AssociateOrganization", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                    <h5 class="card-header">@ViewBag.Title</h5>
                    <img class="card-img-top" src="~/img/titleImg.png" alt="@ViewBag.Title" title="@ViewBag.Title">
                    <div class="card-body">
                        <h5 class="card-title">
                            @ViewBag.Title
                        </h5>
                        <p class="card-text">
                            <span class="font-weight-bold">कार्यालय</span>
                            <span>एन एच ४, मळाई टवेर्स, टोवर्स, कोल्हापूर नाका,कराड ४१५११०.जि.सातारा.मो.९५६१०००९२४/९८९००७१०१२/९४२३८६३००६</span>
                        </p>
                        <p class="card-text">
                            <span class="font-weight-bold">नोंदणी.क्र.</span>
                            <span>.एस.ए.टी./के आर डी/एन जी आर/(एम)/७०८ /२०१० </span>
                        </p>

                        <p class="card-text text-justify">
                            मळाई ग्रुप मार्फत शेतकर्‍यांच्या मालाला योग्य भाव मिळवा ,शेतकर्‍यांना मार्गदर्शन मिळावे ,शेतकरी मेळावे आयोगीज करावे, तसेच फळे-फुले, भाजीपाला जास्तीत उत्पादन करण्यासाठी प्रोत्साहन देणे व त्यांची आर्थिक उन्नती करणेसाठी संस्थेचे मुख्य प्रवर्तक मा.अशोकराव थोरात (शेतीमित्र) यांच्या प्रयत्नातून आपण शेतकर्‍यांसाठी नवीन यशवंत फळे फुले भाजीपाला खरेदी-विक्री सहकारी संस्था मर्यादित, कराड या नावाने स्थापन केली आहे.या संस्थेमार्फत तालुक्यातील शेतकर्‍यांचा कल्याणसाठी विविध योजना राबविल्या जातात. या संस्थेमार्फत दि. २१ जानेवारी कै.प्रा.पांडुरंग पुजारी स्मृतिदीनानिमित्त तालुक्यातील प्रगतशील शेतकर्‍यांचे व पशुपालकांचे सत्कार करण्यात आले. महात्मा फुले कृषि विद्यापीठा अंतर्गत जलव्यवस्थापान प्रशिक्षणाचा लाभ सातारा व सांगली जिल्ह्यातील ११५० प्रगतशील शेतकर्‍यांना मिळवून दिला. त्यांना जल-व्यवस्थापानाचे प्रशिक्षण दिले. महाराष्ट्रातील गेल्या १० वर्षातील पुरस्कार प्राप्त व प्रगतशील शेतकरी यांची गट चर्चा व परिसंवाद घडवून शेतकर्‍यांची सनद तयार करून शेतकर्‍यांचा न्याय हक्कासाठी लढा देण्याचा महत्वपूर्ण निर्णय घेतला. अशाप्रकारे गेली अनेक वर्षे शेतकर्‍यांना मार्गदर्शन करण्याचे काम आमच्या श्री मळाईदेवी शिक्षण संस्थेचे सचिव, सातारा जिल्हा शिक्षण संस्थेचे अध्यक्ष शेतीमित्र मा.श्रीअशोकराव थोरात यांनी केले आहे.
                        </p>
                        @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


