
@{
    ViewBag.Title = "विज्ञान प्रबोधीनी, कराड - मलकापूर";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">मुखपृष्ठ</a></li>
                        <li class="breadcrumb-item">@Html.ActionLink("सहयोगी संस्था", "AssociateOrganization", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                    <h5 class="card-header">@ViewBag.Title</h5>
                    <img class="card-img-top" src="~/img/titleImg.png" alt="@ViewBag.Title" title="@ViewBag.Title">
                    <div class="card-body">
                        <h5 class="card-title">
                            @ViewBag.Title
                        </h5>
                        <p class="card-text">
                            <span class="font-weight-bold">स्थापना दि.</span>
                            <span>दि.१९/०८/१९९४</span>
                        </p>
                        <p class="card-text">
                            <span class="font-weight-bold">नोंदणी.क्र.</span>
                            <span>महा/३७४६/सातारा  </span>
                        </p>

                        <p class="card-text text-justify">
                            विद्यार्थी व सर्वसामान्य लोकांच्यात वैज्ञानिक दृष्टीकोण जागृत करण्यासाठी विज्ञान प्रबोधीनी या संस्थेची स्थापना करण्यात आली. संस्थेचे ११ संचालक व २२५ सभासद आहेत . विज्ञान प्रबोधीनी या संस्थे मार्फत बीजारोपन ,वृक्षारोपण हे उपक्रम राबवले जातात.तसेच फटाके विरहित प्रदूषण मुक्त दिवाळी साजरी केली जाते.कै.पांडुरंग पुजारी स्मृति दीना निमित्ता शक्षणिक साहित्य निर्मिती केली जाते. तसेच प्रगटशील शेतकरी व पशू पालक यांचा सत्कार केला जातो. पर्यावरण व वसुंधरा दिन साजरे केले जातात. अंधश्रद्धा निर्मूलनासाठी विविध प्रात्यक्षिके तसेच व्यसन मुक्तीसाठी जाणीव जागृती फेरी व तज्ञ व्यक्तींची व्याख्याने आयोजित केली जातात. नालबंडिंग ५० बंधारे बांधण्यात आले,पर्यावरण संरक्षण ,निबंध,चित्रकला स्पर्धांचे विज्ञान छंद मंडळा मार्फत आयोजन केले जाते.तसेच जखिनवाडी हद्दीत १० वनराई बंधारे बांधण्यात आले आहेत.वन संरक्षणासाठी वनवा बचाव उपक्रमा अंतर्गत घोष वाक्य फलक झाडांना लावण्यात आले आहेत.पक्षांसाठी चारपाणी उपक्रम राबवण्यात येतात.पायी चला,निरोगी रहा हा संदेश समाजामध्ये पोहचवण्यासाठी विद्यार्थ्यांची रॅली काढण्यात आली.
                        </p>
                        <p class="card-text text-justify">
                            श्री.मळाई ग्रुपच्या वतीने आयोजित केलेल्या रक्तदान शिबिरात उत्स्फूर्तपणे २१४ राक्तदात्यांनी रक्तदान केले. इन्सपायर अवॉर्ड स्पर्धेत पर्यावरण पूरक जे सी बी या उपकरणाने राज्यस्तरीय स्पर्धेत सहभाग घेतला.

                        </p>
                        @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

