
@{
    ViewBag.Title = "सहयोगी संस्था";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<!--BODY START-->
<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">मुखपृष्ठ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">सहयोगी  संस्था</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagetitle">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pagetitle">
                    सहयोगी  संस्था
                </div>
                @*<div class="pagesubtitle">
                    Sub title goes here Sub title goes here
                </div>*@
                <div class="titleimg">
                    <img src="/img/titleshape.png">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-xs-12 col-lg-4 col-sm-12">
                <div class="card">
                    <img class="card-img-top" src="/img/sanstha_img1.PNG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">श्री मळाईदेवी नागरी सहकारी पतसंस्था मर्यादित, जखिनवाडी ता.कराड</h5>
                        <p class="card-text">श्री मळाईदेवी नागरी सहकारी पतसंस्था मर्यादित, जखिनवाडी ता.कराड (मलकापूर,नांदलापूर,कापिल)</p>
                        @Html.ActionLink("संपूर्ण वाचा", "shree_malaidevi_patasanstha", "AssociateOrganization", new { area = "" }, htmlAttributes: new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-lg-4 col-sm-12">
                <div class="card">
                    <img class="card-img-top" src="/img/sanstha_img1.PNG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">समाज प्रबोधन सार्वजनिक वाचनालय, मलकापूर</h5>
                        <p class="card-text">मलकापूर मधील ग्रामसतांचा मागणी नुसार नगरपंचायत मलकापूर या ठिकाणी दि.१२/०८/१९९२ रोजी सुसज्ज ग्रंथालयाची स्थापना करण्यात आली. </p>
                        @Html.ActionLink("संपूर्ण वाचा", "samaj_prabodhan_sarvajnik_vachanaly", "AssociateOrganization", new { area = "" }, htmlAttributes: new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-lg-4 col-sm-12">
                <div class="card">
                    <img class="card-img-top" src="/img/sanstha_img1.PNG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">जमना सहकारी ग्राहक संस्था मर्यादित,मलकापूर</h5>
                        <p class="card-text">संस्थेच कार्यक्षेत्र मलकापूर व तिचे ५ कि.मी परिसरातील असून संस्थेची स्थापना नागरिकांनी जीवनावश्यक वस्तू सरकारमान्य रास्त भावात उपलब्ध करून देण्याच्या उदेशाने झाली आहे. </p>
                        @Html.ActionLink("संपूर्ण वाचा", "jamana_sahakari_grahak_sanstha", "AssociateOrganization", new { area = "" }, htmlAttributes: new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-lg-4 col-sm-12">
                <div class="card">
                    <img class="card-img-top" src="/img/sanstha_img1.PNG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">विज्ञान प्रबोधीनी, कराड - मलकापूर</h5>
                        <p class="card-text">विद्यार्थी व सर्वसामान्य लोकांच्यात वैज्ञानिक दृष्टीकोण जागृत करण्यासाठी विज्ञान प्रबोधीनी या संस्थेची स्थापना करण्यात आली. संस्थेचे ११ संचालक व २२५ सभासद आहेत . विज्ञान प्रबोधीनी या संस्थे मार्फत बीजारोपन ,वृक्षारोपण</p>
                        @Html.ActionLink("संपूर्ण वाचा", "vidnyan_prabodhani", "AssociateOrganization", new { area = "" }, htmlAttributes: new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-xs-12 col-lg-4 col-sm-12">
                <div class="card">
                    <img class="card-img-top" src="/img/sanstha_img1.PNG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">आदर्श क्रीडा संस्था ,कराड व कराड तालुका  अॅमॅच्युअर अॅथलेटिक्स असो.कराड</h5>
                        <p class="card-text">आदर्श क्रीडा संस्थाही यशस्वी खेळाडू निर्माण करणारी अल्पावधीत नावारूपास आलेली संस्था</p>
                        @Html.ActionLink("संपूर्ण वाचा", "karad_taluka_amateur_athletic_association", "AssociateOrganization", new { area = "" }, htmlAttributes: new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 col-lg-4 col-sm-12">
                <div class="card">
                    <img class="card-img-top" src="/img/sanstha_img1.PNG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">यशवंत फळे फुले भाजीपाला खरेदी-विक्री सहकारी संस्था मर्यादित, कराड</h5>
                        <p class="card-text">मळाई ग्रुप मार्फत शेतकर्यांच्या मालाला योग्य भाव मिळवा ,शेतकर्‍यांना मार्गदर्शन मिळावे ,शेतकरी मेळावे आयोगीज करावे, </p>
                      
                        @Html.ActionLink("संपूर्ण वाचा", "yashavant_fhale_fhule_bhajipala_sahakari_sanstha", "AssociateOrganization", new { area = "" }, htmlAttributes: new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 col-lg-4 col-sm-12">
                <div class="card">
                    <img class="card-img-top" src="/img/sanstha_img1.PNG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">आनंद विद्यार्थी सह.ग्राहक भांडार मर्या; मलकापूर</h5>
                        <p class="card-text">विद्यार्थ्यांना ग्राहक भांडारमार्फत सर्व शैक्षणिक साहित्य अल्प दरात उपलब्ध करून दिले जाते.</p>
                  
                        @Html.ActionLink("संपूर्ण वाचा", "anand_vidyarthi_grahak_bhandar", "AssociateOrganization", new { area = "" }, htmlAttributes: new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


@*<div class="contact-container-bg">
    <div class="container-midwidth">
        <div class="row">
            <div class="col-md-6">
                <div class="help">
                    <img src="/img/quickboxphn50x50.PNG"> आपणास काही मदत हवी आहे?

                </div>
                <div class="helpnumber">
                    <h1>@Websitedata.phone</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="help2">
                    माहिती पत्रक डाउनलोड करा
                </div>
                <div class="helpnumber2">
                    <a href="/home/contact" class="btn btn-danger">संपर्क साधा</a>
                </div>
            </div>
        </div>
    </div>
</div>*@

<!--BODY END-->
