
@{
    ViewBag.Title = "श्री मळाईदेवी नागरी सहकारी पतसंस्था मर्यादित, जखिनवाडी ता.कराड";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">मुखपृष्ठ</a></li>
                        <li class="breadcrumb-item">@Html.ActionLink("सहयोगी संस्था", "AssociateOrganization", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                    <h5 class="card-header">@ViewBag.Title</h5>
                    <img class="card-img-top" src="~/img/titleImg.png" alt="@ViewBag.Title" title="@ViewBag.Title">
                    <div class="card-body">
                        <h5 class="card-title">
                            @ViewBag.Title
                        </h5>
                        <p class="card-text">
                            <span class="font-weight-bold">स्थापना दि.</span>
                            <span>२१-०७-८७</span>
                        </p>
                        <p class="card-text">
                            <span class="font-weight-bold">नोंदणी.क्र.</span>
                            <span>सात/केआरडी/आरएसआर/सीआर / ७४४</span>
                        </p>
                        <p class="card-text text-justify">
                            ||सुपथ सहकार अगछ्या||
                        </p>
                        <p class="card-text ">
                            <b>शाखा विस्तार</b>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>
                                            अ.क्र.
                                        </td>
                                        <td>
                                            शाखा
                                        </td>
                                        <td>
                                            पत्ता
                                        </td>
                                        <td>
                                            संपर्क
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>१. </td><td>मुख्य कार्यालय </td><td> फोन(०२१६४)२४२०८२ मो.९५६१०००९१२ </td><td>पुना’-बेंगलोर रोड,थोरतमाळा,जखिनवाडी ता.कराड</td></tr>
                                    <tr><td>२.  </td><td>शाखा जखिनवाडी </td><td> फोन(०२१६४)२४२११७ </td><td>मळाईदेवी मंदिराजवळ, जखिनवाडी ता.कराड</td></tr>
                                    <tr><td>३.  </td><td>शाखा शास्त्रीनगर </td><td></td><td> भारती बँकेसमोर शास्त्रीनगर- मलकापूर</td></tr>
                                    <tr><td>४.  </td><td>शाखा-आगशिवनगर </td><td> फोन-९५१०००९२२ </td><td>इंद्रप्रस्थ कॉलनी, आगशिवनगर-मालकापूर</td></tr>
                                    <tr><td>५.  </td><td>शाखा-कसरशिरंबे </td><td> फोन-९५१०००९१८ </td><td> कसरशिरंबे ता.कराड</td></tr>
                                    <tr><td>६..  </td><td>शाखा कराड </td><td> फोन-९५१०००९२४  </td><td>मळाई टवेर्स, एच-४७ कोल्हापूर नाका,कराड </td></tr>
                                    <tr><td>७.  </td><td>शाखा-वसंतगड </td><td>फोन-९५१०००९२६ </td><td>वसंतगड ता.कराड  </td></tr>
                                    <tr><td>८.  </td><td>शाखा- मलकापूर </td><td> फोन-(०२१६४)२४३५८२ ९५१०००९१४ </td><td> भारती विद्यापीठासमोर, मालकापूर-कराड</td></tr>
                                    <tr><td>९.  </td><td>शाखा-वडोली निळेश्वर </td><td> फोन-९५१०००९३० </td><td> निळेश्वर मंदिराजवळ वडोली निळेश्वर ता.कराड.</td></tr>
                                    <tr><td>१०.  </td><td>शाखा मार्केट यार्ड </td><td> फोन-९५१०००९३५ </td><td> स्वा.सौ.शमराव पाटील फळे व भाजीपाला मार्केट समोर</td></tr>
                                    <tr><td>११.  </td><td>शाखा कोडोली </td><td> फोन-७०४०२८१३३४ </td><td> सा जि.म.बँकेजवळ, कोडोली ता.कराड</td></tr>
                                    <tr><td>१२.  </td><td>शाखा विद्यानगर </td><td> फोन-९५१०००९३२ </td><td>एस जी एम कॉलेजसमोर, विद्यानगर-सैदापूर</td></tr>
                                    <tr><td> १३. </td><td>शाखा-वाठार </td><td> फोन-९५१०००९३९ </td><td>एस.टी स्टँड जवळ वाठार ता.कराड</td></tr>
                                    <tr><td>१४.  </td><td>शाखा चरेगाव </td><td> फोन ९५१०००९२८ </td><td> मारुती मंदिराजवळ, चरेगाव, ता.कराड</td></tr>
                                    <tr><td>१५.  </td><td>शाखा सोमवार </td><td>फोन ९५१०००९३४ </td><td>पेठ कन्या शाळेजवळ, सोमवार पेठ,कराड </td></tr>
                                    <tr><td>१६.  </td><td>शाखा नंदलापूर  </td><td>फोन ९५१०००९३७</td><td>विस्तारीत कक्ष</td></tr>
                                    <tr><td>१७.  </td><td>शाखा केसे   </td><td>फोन ९५१०००९४१</td><td>विस्तारीत कक्ष</td></tr>
                                    <tr><td>१८.  </td><td>शाखा आगशिवनगर  </td><td> फोन ९५१०००९१३</td><td> विस्तारीत कक्ष</td></tr>
                                    <tr><td>१९.  </td><td>शाखा कोयनावसाहत    </td><td>फोन ७०२८०६७००५</td><td>विस्तारीत कक्ष</td></tr>
                                </tbody>
                            </table>
                        </p>
                        <p class="card-text ">
                            <br />
                            <br />
                            <br />
                           
                            <b> यशस्वी वाटचालीच्या पाऊलखुणा</b> 
                            
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><td class="table-primary"> भागभांडवल </td> <td> ६.१० कोटी </td></tr>
                                    <tr><td class="table-primary"> ठेवीडवल </td> <td> ९७.२० कोटी </td> </tr>
                                    <tr><td class="table-primary"> कर्जे </td> <td> ६६ कोटी </td> </tr>
                                    <tr><td class="table-primary"> नफा </td> <td> ८७लाख </td> </tr>
                                    <tr><td class="table-primary"> सभासद </td> <td> ५५६३ </td> </tr>
                                    <tr><td class="table-primary"> शाखा </td> <td> १५+४ विस्तारीत कक्ष </td> </tr>
                                    <tr><td class="table-primary"> सेवक वर्ग </td> <td> ६५ </td> </tr>

                                </tbody>
                            </table>
                        </p>
                        @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

