
@{
    ViewBag.Title = "आदर्श क्रीडा संस्था, कराड व कराड तालुका  अॅमॅच्युअर  अॅथलेटिक्स असो.कराड";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">मुखपृष्ठ</a></li>
                        <li class="breadcrumb-item">@Html.ActionLink("सहयोगी संस्था", "AssociateOrganization", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                    <h5 class="card-header">@ViewBag.Title</h5>
                    <img class="card-img-top" src="~/img/titleImg.png" alt="@ViewBag.Title" title="@ViewBag.Title">
                    <div class="card-body">
                        <h5 class="card-title">
                            आदर्श क्रीडा संस्था ,कराड
                        </h5>
                        <p class="card-text">
                            <span class="font-weight-bold">स्थापना दि.</span>
                            <span>दि.८/१०/१९९१ </span>
                        </p>
                        <p class="card-text">
                            <span class="font-weight-bold">नोंदणी.क्र.</span>
                            <span>महा/२०८६/ सातारा  </span>
                        </p>
                        <p>
                            आदर्श क्रीडा संस्थाही यशस्वी खेळाडू निर्माण करणारी अल्पावधीत नावारूपास आलेली संस्था आहे.आदर्श क्रीडा संस्थेमार्फत संस्थेच्या विविध विद्यालयातील व समजतील उत्तम खेळाडूंची निवड करून त्यांना तज्ञ प्रशिक्षकामार्फत त्यांच्या आवडीनुसार मार्गदर्शन केले जाते. शिक्षक व विद्यार्थ्यांसाठी योग प्रशिक्षण व सुर्यनमस्कार प्रशिक्षण वर्ग राबविले जातात. लहान मुलांना स्पर्धेची आवड निर्माण होण्यासाठी बालवाडी ते १० वी पर्यंतच्या विध्यर्थ्यांसाठी रोडरेस,सस्सीखेच,व्हॅलीबोल,बुद्धिबळ,वेटलिफ्टिंग, चालणे अशा विविध स्पर्धा घेतल्या जातात.वर्षभरात खेळाडूंना मार्गदर्शन करण्यासाठी राष्ट्रीय स्तरावरील खेळाडुंचे मार्गदर्शन केले जाते.
                        </p>

                        <h5 class="card-title">
                            कराड व कराड तालुका  अॅमॅच्युअर  अॅथलेटिक्स असो.कराड
                        </h5>
                        <p class="card-text">
                            <span class="font-weight-bold">स्थापना दि.</span>
                            <span>दि.२१/०१/१९९९  </span>
                        </p>
                        <p class="card-text">
                            <span class="font-weight-bold">नोंदणी.क्र.</span>
                            <span>महा/५३४०१/ सातारा </span>
                        </p>


                        <p class="card-text text-justify">
                            ही यशस्वी खेळाडू निर्माण करणारी अल्पावधीत नावारूपास आलेली नोंदनीकृत संस्था आहे.ही संघटना सातारा जिल्हा अॅमॅच्युअर अॅथलेटिक्स असोसिएशन सलग्न असून सदर संघटनेद्वारे जिल्ह्यातील तालुक्यातील गुणवान खेळाडूंना खेळाचे व्यासपीठ उपलब्ध करून देण्याचे महत्वपूर्ण काम करते. यासाठी जिल्हास्तरीय सब्ज्युनियर स्पर्धा सयोजन आंतर्राष्ट्रीय व राष्ट्रीय खेळाडू सत्कार, क्रीडा पत्रकारिता परिसवाद इत्यादी कार्यक्रमांचे यशस्वी आयोजन केले जाते.चालू क्रीडा वर्षी दि १ जुन २०१७ रोजी शेतकर्‍यांच्या वेदना, अडचणी समजून आम्ही शेतकर्‍यांबरोबर आहोत. हे दाखवून देण्यासाठी “रन फॉर फार्मर्स” या स्पर्धेचे संघटना सयोजन करणार आहे.
                        </p>
                        <p class="card-text text-justify">
                            <b>शारीरिक शिक्षणाचे महत्व:</b> २१ शतकातील अहवणे पेलण्यासाठी बौद्धिक विकसा बरोबर शारीरिकदृष्ट्या सक्षम नागरिक तयार करणे ही काळाची गरज आहे. मानसिक बौद्धिक तान तनावमुळे विद्यार्थ्यांच्या आरोग्यावर विपरीत परिणाम होत आहे. खेळामुळे व्यायाम घडून येतो शारीरिक क्षमता वडते, मानसिक आरोग्य सुधारते निरोगी शरीरात निकोप मन वास करण्यास मदत होते. शरीर सधृड होते,खिलाडूवृत्ती वाढते.
                        </p>
                        <p class="card-text text-justify">
                            <b>उद्दिष्टे:</b> राष्ट्रीय व आंतरराष्ट्रीय दर्जाचे खेळाडू तयार करणे योग्य खेळ निवडण्यास मदत करणे क्रीडविषयक चर्चासत्रे ,परिषदा ,प्रदर्शन,परीसावाद,व्याखानेविडिओ क्रीडाशो,
                            प्रश्नमंजुषा ,मान्यवर मासिके ,वर्तमानपत्रे ई.सेवा पुरवणे आंतरराष्ट्रीय,आंतरराज्य, आंतरजिल्हा स्तरावर विविध खेळांच्या सांदर्भातील नियम व नियमावली यांची माहिती खेळाडूंना करून देणे.

                        </p>
                        @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

