
@{
    ViewBag.Title = "समाज प्रबोधन सार्वजनिक वाचनालय, मलकापूर";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">मुखपृष्ठ</a></li>
                        <li class="breadcrumb-item">@Html.ActionLink("सहयोगी संस्था", "AssociateOrganization", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                    <h5 class="card-header">@ViewBag.Title</h5>
                    <img class="card-img-top" src="~/img/titleImg.png" alt="@ViewBag.Title" title="@ViewBag.Title">
                    <div class="card-body">
                        <h5 class="card-title">
                            @ViewBag.Title
                        </h5>
                        <p class="card-text">
                            <span class="font-weight-bold">स्थापना दि.</span>
                            <span>१२/०८/१९९२</span>
                        </p>
                        <p class="card-text">
                            <span class="font-weight-bold">नोंदणी.क्र.</span>
                            <span>महा/एफ-२६६१/सातारा </span>
                        </p>

                        <p class="card-text text-justify">
                            मलकापूर मधील ग्रामसतांचा मागणी नुसार नगरपंचायत मलकापूर या ठिकाणी दि.१२/०८/१९९२ रोजी सुसज्ज ग्रंथालयाची स्थापना करण्यात आली. ग्रंथालय ब वर्ग दर्जा प्राप्त असून एकूण ११००० ग्रंथ संपदा आहे.तसेच ग्रंथालयात २८ नियतकालिके व १२ दैनिके घेतले जातात. वाचकासाठी बालविभाग , व महिला विभाग स्वतंत्र आहेत.सध्या ग्रंथालयाचे आजीव सभासद ३५०असून वार्षिक सभासद ३०० आहेत ग्रंथालयाचा माध्यमातून विधयरथ्य साथी गीतगायन,कथाकथन ,वक्तृत्व,निबंध स्पर्धा अशा स्पर्धांचे आयोजन केले जाते.
                            
                        </p>
                        <p class="card-text text-justify">
                            वाचनालयाचे महत्व : ज्ञान संपादनाची अनेक द्वारे आहेत. त्यापैकि वचन हे अत्यंत महत्वाचे आहे.वाचनाचे २ प्रकार आहेत . 
                            एक स्वतसाठी एक दुसर्‍यासाठी. जगातील सर्व माहिती वाचनाने प्राप्त होते.वचन विचार अवलोकन संवाद ही ज्ञान संपादनाची सदाणे आहेत. वचनाणे वैचारिक प्रगल्भता वाढते.वचन हे प्रभावी साधन आहे. जो वाचेल तो वाचेल या उक्ती प्रमाणे मानुषणे रोज सदग्रंथांचे वचन केले तर त्याचे व्यक्तिमहत्व प्रभावी बनेल त्या व्यक्ति जीवनात यशस्वी होण्यास मदत होएल म्हणून वाचनाचे महत्व फार मोठे आहे.
                        </p>
                        @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
